{% for collection in collections %}
  {% unless collection.handle == 'frontpage' %}
    {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
    <a href="{{ collection.url }}">More {{ collection_title }} &rsaquo;</a>
    {% paginate collection.products by 5 %}  
      {% for product in collection.products %}
        <div>
          <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
          {{ product.price | money }}
          {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
          <a href="{{ product.url | within: collection }}">
            <img src="{{ product.featured_image.src | image_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" width="{{product.featured_image.width}}" height="{{product.featured_image.height}}">
          </a>
        </div>
      {% endfor %}
    {% endpaginate %}
  {% endunless %}
{% endfor %}
